body {
  padding: 0;
  margin: 0;
  background: #f7f7f7;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #3d165e 0%, #596dd0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,#3d165e 0%, #596dd0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #3d165e 0%, #596dd0 100%);
}

/** Header styles **/

.col-sm-8 {
    padding: 50px;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}

nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 20;
}

nav a:hover,
nav a:focus {
	outline: none;
}

.cl-effect-4 a {
	padding: 0 0 10px;
}

.cl-effect-4 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

header {
  padding: 30px 0;
}
header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 40;
  font-family: 'Raleway';
  font-size: 40px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
 color : white;
  padding: 0 20px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}



h1 {
  color: white;
  font-family: 'Futura';
  font-size: 100px;
  line-height: 100px;
  margin: 50;
  position: relative;
  text-align: center ;
  top: 0%;
  opacity : 0.83;
}

/** List style **/

h2 {

  font-family: 'Raleway', sans-serif;

  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

li {
  border-bottom: 1px solid #ffffff;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}

p {
  color: #ffffff;
  line-height: 32px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

a {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

footer {
    padding-top: 100px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}
