body {
  padding: 0;
  margin: 0;
  background: #f7f7f7;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #3d165e 0%, #596dd0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,#3d165e 0%, #596dd0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #3d165e 0%, #596dd0 100%);
}

/** Header styles **/

.header {
  background-image: url(https://mail.google.com/mail/u/0/?ui=2&ik=a3fcdec161&view=fimg&th=15e1408eda7e6820&attid=0.1.1&disp=emb&attbid=ANGjdJ-FkCD32WtcL2IQJLm0ciJdD2aQKXXSMIvaGeP1MEiWq7YzjMfc8DoIRXds5cf0VXpK3PEvDz8niaUdUaerGCcA8LSJsMfxrDCbf6YY5cSiOj95wALaXnsDBbs&sz=s0-l75-ft&ats=1503575378434&rm=15e1408eda7e6820&zw&atsh=1);
  height : 400px;
  background-size : cover;
  background-position: center;
}


header {
  padding: 20px 0;
}
header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 40;
  font-family: 'Raleway';
  font-size: 40px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
 color : white;
  padding: 0 20px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}



h1 {
  color: white;
  font-family: 'Futura';
  font-size: 100px;
  line-height: 100px;
  margin: 50;
  position: relative;
  text-align: center ;
  top: 0%;
  opacity : 0.83;
}

/** List style **/

h2 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

li {
  border-bottom: 1px solid #ffffff;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}

p {
  color: #ffffff;
  line-height: 32px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

a {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
